.navTitle {
    display: inline-block;
    font-weight: bold;
    text-align: center;
};

.navScore {
    display: inline-block;
    text-align: center;
};

.nav.Stats {
    display: inline-block;
    text-align: center;
};